html {
  height: 100%;
  box-sizing: border-box;
  
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
  font-family: arial,helvetica, sans-serif;
  height: 100%;
  margin: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+47,a849a3+100;Pink+3D+%233 */
  background: #8b8b8500; /* Old browsers */
  background: -moz-linear-gradient(top, #e0dce08f 0%, #e0dce08f 47%, #e0dce08f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e0dce08f 0%,#e0dce08f 47%,#e0dce08f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e0dce08f 0%,#e0dce08f 47%,#e0dce08f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0dce08f', endColorstr='#e0dce08f',GradientType=0 );
  margin-bottom: 10rem;
}
header {
text-align: center;
padding: 20px 0;
}
div.contenedor {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
}
div.hero img {
  width: 100%;
}
h2 {
text-align: center;
color: white;
text-transform: uppercase;
}

.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}